@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    /*nav*/
    --background-color-nav: #EDEDED;
    --color-p-a-nav: black;
    --shadow-nav:0px 4px 4px 0px #00000025;

    /*Section home*/
    --background-color-section-home: #474747;
    --color-p-a-home: black;
    --color-h1-home: white;
    --color-h2-home: rgba(255, 255, 255, 0.432);
    --background-color-button-home: white;

    /*Section about*/
    --background-color-section-about:  #474747;
    --color-p-a-about: white;
    --color-h1-about: white;
    --background-color-button-about: rgba(255, 255, 255, 0.164);
    --color-text-button-about: white;

    /*Section skills*/
    --background-filter-color-section-skills: rgba(255, 255, 255, 0.31);
    --color-p-a-skills: white;
    --color-h1-skills: black;
    --background-color-button-skills: rgba(0, 0, 0, 0.859);
    --color-text-button-skills: white;
    --background-color-ul-skills: rgba(0, 0, 0, 0.473);

    /*Section project*/
    --background-color-section-project:  #474747 ;

    /*Section contact*/
    --background-color-section-contact:  #474747;
    --color-p-a-contact: white;
    --color-h1-contact: white;
    --background-color-icon: rgba(255, 255, 255, 0.167);
    --background-color-button-social-contact: rgba(255, 255, 255, 0);
    
}
*{
    font-family: "Rubik", sans-serif;
}
nav{
    background-color: var(--background-color-nav);
    display: flex;
    width: 100vw;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: var(--shadow-nav);
    position: fixed;

    .nav_initial_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55.5%;
        height: 100%;
        margin-right: 10px;
        li{
            font-weight:350;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        a{
            color: var(--color-p-a-nav);
        }
    }
    .icon_logo{
        width: 50px;
    }
}

section{
    min-height: 100vh;
    display: flex;
}

#homeSection{
    height: 100vh;
    padding-top: 47px;
    background-color: var(--background-color-section-home);
    box-sizing: border-box;
    width: 100%;
    h1{
        color: var(--color-h1-home);
        font-size: 6rem;
        margin-bottom: 20px;
        font-weight: 450;
    }
    h2{
        color: var(--color-h2-home);
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 40px;
    }
    a{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        color: var(--color-p-a);
    }

    .img_home{
        height: 100%;
        width: 35%;
        background-image: url(../img/photos/Img_home.jpg);
        background-position: 60% 15%;
        background-size: cover; 
    }
    .home_text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 35%);

        .sub_home_text{
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: 80%;
            justify-content: center;
        }    
        .button_download{
            color: var(--color-p-a-home);
            background-color: var(--background-color-button-home);
            width: fit-content;
            height: fit-content;
            padding: 16px 18px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 6px;
            font-size: 1.8rem;
            cursor: pointer;
        }
        .icon_button_download{
        width: 1.8rem;
        margin-right: 10px;
        }
    }
}

#aboutSection{
    background-color: var(--background-color-section-about);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .text_about{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 65vw;
        padding: 5% 7%;
        color: var(--color-p-a-about);
    }
    
    .sub_text_about{
        height: fit-content;
        width: fit-content;
        margin: 10% 5%;
    }
    h1{
        color: var(--color-h1-about);
        font-size: 6rem;
        margin-bottom: 20px;
        font-weight: 450;
    }
    .textprincipal{
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 30px;
        font-weight: 370;
        line-height: 1.7rem;
    }
    .button_about{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        padding: 15px 55px;
        font-size: 1.6rem;
        color: var(--color-text-button-about);
        background-color: var(--background-color-button-about);
        border: solid 0px ;
        border-radius: 7px;
        p{
            margin-left: 8px;
        }
        cursor: pointer;
    }
    .img_about{
        background-image: url(../img/photos/img_about.jpeg);
        height: 100vh;
        width: 35vw;
        background-position: 20% 20%;
        background-size: cover;
    }
}

#skillsSection{
    background-image: url(../img/photos/background_skills.jpeg);
    background-size: cover;
    background-position: 20% 9%;  
    box-sizing: border-box;

    .filter{
        background-color: var(--background-filter-color-section-skills);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        color: var(--color-h1-skills);
        font-size: 4.2rem;
        font-family:"Rubik", "Poppins", sans-serif;
        font-weight: 900;
        margin-bottom: 20px;
    }
    ul{
        margin-bottom: 50px;
        height: fit-content;
        width: 38%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    li{
        width: fit-content;
        height: fit-content;
        background-color: var(--background-color-ul-skills);
        color: var(--color-p-a-skills);
        font-weight: 100;
        font-size: 1.4rem;
        border-radius: 6px;
        padding: 10px 10px;
        margin-top: 30px;
        margin-right: 7px;
        margin-left: 7px;
    }
    .button_skills{
        color: var(--color-text-button-skills);
        background-color: var(--background-color-button-skills);
        width: fit-content;
        height: fit-content;
        padding: 10px 10px;
        display: flex;
        font-size: 1.2rem;
        padding: 10px 30px;
        border-radius: 6px;
        margin-top: 50px;

        cursor: pointer;
        .icon_button_skills{
            width: 30px;
            height: 25px;
            margin-right: 5px;
        }
        a{
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-p-a-skills);
        }
    }
}

#projectSection{
    background-color: var(--background-color-section-project);
    display: none;
}

#contactSection{
    box-sizing: border-box;
    background-color: var(--background-color-section-contact);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    .text_contact{
        width: 77vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-p-a-contact);
    }
    .sub_text_contact{
        width: 70%;
        height: fit-content;
        h1{
            font-size: 5rem;
            font-weight: 500;
            margin-bottom: 30px;
            color: var(--color-h1-contact);
        }
        p{
            font-size: 1.3rem;
        }
        .text_principal{
            margin-bottom: 30px;
            text-align: justify;
            line-height: 2rem;
            
        }
        .p_social{
            font-size: 1.3rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 2rem;
            background-color: var(--background-color-button-social-contact);
            border: solid 0px;
            cursor: pointer;
            color: var(--color-p-a-contact);
            font-weight: 200;
            img{
                margin-right: 10px;
                width: 25px;
            }
        }
        .p_social2{
            margin-bottom: 80px;
        }
        .icons_siciais{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: fit-content;
        }
        .icon{
            width: 60px;
            height: 60px;
            margin-right: 10px;
            background-color: var(--background-color-icon);
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a{
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                width: 80%;
                height: 80%;
            }
        }
    }
    .img_contact{
        background-image: url(../img/photos/img_contact.jpeg);
        height: 100vh;
        width: 33vw ;
        background-position: 10% 10%;
        background-size: cover;
    }
}

@media(max-width: 600px){

   #homeSection{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        height: 100vh;
        width: 100vw;

        .img_home{
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            margin-bottom: 2rem;
        }
        h1{
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        h2{
            font-size: 1.65rem;
            margin-bottom: 5rem;
        }
        .home_text{
            width: 100vw;
        }
        .sub_home_text{
            justify-content: center;
            align-items: center;
        }

    }

    #aboutSection{
        height: 100vh;
        width: 100vw;
        .img_about{
            display: none;
        }
        .text_about{
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .sub_text_about{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        h1{
            font-size: 2.5rem;
            margin-bottom: 2.3rem;
        }
        .textprincipal{
            font-size: 1rem;
            margin-bottom: 3rem;
            border-radius: 6px;
        }
        .button_about{
            font-size: 1.02rem;
            padding: 15px;
            width: 100%;
            
        }
    }
    #skillsSection{
        height: 100vh;
        width: 100vw;
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2px;
        }
        li{
            width: 80%;
            border-radius: 0;
            margin: 5px 0px;
            font-size: 1rem;
        }
        h1{
            font-size: 3.5rem;
            margin-bottom: 3rem;
        }
    }
    #contactSection{
        height: 100vh;
        width: 100vw;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .img_contact{
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            margin-top: 0rem;
            background-position: 10% 18%;
        }
        .text_contact{
            width: 100vw;
            height: 55vh;
        }
        .sub_text_contact{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 3rem;
            }
            .text_principal{
                width: 85%;
                margin-bottom: 2.5rem;
            }
            .p_social2{
                margin-bottom: 1.5rem;
            }
        }

    }
}
@media (max-width: 830px){
    nav{
        display: none;
    }
}